body {
  background-image:url(D:\Reactjs\JSX\frontendapp\frontendapp\react-hooks-jwt-auth\public\background\background2.jpg)
}
.modal-body {
  background-color: rgb(137, 90, 223);
}
label {
  display: block;
  margin-top: 10px;
  color: #dddddd;
  font-size: x-large;
}
.container{
  color: whitesmoke;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #548cb0;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.btn{
  font-size: 18px;
  margin:10px;
 height: 40px;
 width:100px;
 border-radius:15px ;
 font-weight: bold;
 box-shadow: 5px 5px 6px rgb(88 88 90);
 color: silver;
 background-color: rgb(27 26 26);
border-color: silver;
}

.upload{
  font-size: 18px;
 height: 40px;
 width:200px;
 border-radius:15px ;
 font-weight: bold;
 box-shadow: 4px 4px 1px rgb(51, 44, 44);
 color:cornsilk;
 background-color: rgb(137, 90, 223);
 

}
.img-fluid{
  border-radius: 10px;
  box-shadow: 6px 3px 4px 1px;
  background-color: gray;
  color: #58585a;
}

.form-control{
    background-color: #dddddd;}


button, input, optgroup, select, textarea {
      margin: 10px;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      border-radius: 20%;
      font-weight: bold;
      box-shadow: 5px 5px 6px rgb(88 88 90);
      color: silver;
      background-color: rgb(27 26 26);
  }

